.languageNavItem {
  display: flex;

  position: relative;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;

    background: #d3d3d3;
    height: 1rem;
    width: 1px;
    transform: translateY(-50%);
  }
}
